*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body{
    background-color: #222222;
    color: white;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}

section#article {
    margin: 4rem auto;
    padding: 0 2rem;
    max-width: 1240px;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
